@import "base";
@import "header";





.week-menu {
    padding: 10px;
    @include reset-button-style;
    
    &__icon {
        width: 35px;
        height: 35px;
        display: inline-block;
        vertical-align: sub;
        padding-right: 2px;
        fill: $darkGray;
    }
    
    &__week {
        display: inline-block;
        font-size: 25px;
        color: $darkGray;
    }
    
    &__dates {
        font-size: 18px;
    }
}


.week-navigation {
    color: $darkGray;
    position: relative;
    
    &__previous-day,
    &__next-day  {
        @include reset-button-style;
        position: absolute;
        z-index: 10;
        font-size: 30px;
    }

    &__previous-day {
        left: 0;
    }
    
    &__next-day {
        right: 0;
    }
}


.day-navigation {
    color: $darkGray;
    
    &__header {
        text-align: center;
        font-size: 30px;
    }

    &__day-title {
        text-transform: capitalize;
        font-weight: bold;
        display: inline-block;
    }
    
    &__category {
        border-radius: 3px;
        background-color: $lightGray;
        padding: 10px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }
    
    &__edit-category {
        @include reset-button-style;
        font-size: 20px;
        float: right;
    }
    
    &__category-title {
        text-transform: capitalize;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: bold;
    }
    
    
    &__item {
        border-radius: 3px;
        background-color: white;
        border-bottom: 1px solid $mediumGray;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px;
    }
    
    &__add-new-item {
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
        height: 10px;
    }
    
    &__new-item-line {
        position: relative;
    }
    
    &__new-item-icon {
        position: relative;
        background-color: $lightGray;
        top: -19px;
        left: 50%;
        margin-left: -10px;
        font-size: 20px;
    }
    
}