<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>FoodPlan App</title>
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/day-view.css" rel="stylesheet" />
</head>

<body ng-app="foodplanapp">

    <header class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".main-navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand"> FoodPlan App </a>
            </div>

            <div class="collapse navbar-collapse main-navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Week</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container week-view" ng-controller="dayViewController">
        <div class="row">
            <div class="week-menu">
                <span class="glyphicon glyphicon-triangle-bottom"></span>
                <span class="week-menu__title">Current week </span>
            </div>
        </div>
        <div class="row day-view" ng-repeat="day in week.days">
            <div class="day-view__day-title">
                {{day.title}}
            </div>
            <hr class="day-view__line" />

            <div class="day-view__category" ng-repeat="category in day.categories">
                <div class="day-view__category-title">{{category.title}}</div>

                <div class="day-view__category-delete glyphicon glyphicon-trash"></div>
                <div class="day-view__category-edit glyphicon glyphicon-pencil"></div>


                <ul class="day-view__items list-group">
                    <li class="day-view__item list-group-item" ng-repeat="item in category.items">
                        <div class="day-view__item-title">
                            {{item}}
                        </div>

                        <div class="day-view__item-delete glyphicon glyphicon-trash"></div>
                        <div class="day-view__item-edit glyphicon glyphicon-pencil"></div>
                    </li>

                </ul>
                <div class="day-view__add-item">
                    <button class="day-view__add-item btn btn-default">+Add item</button>
                </div>

            </div>

            <button class="day-view__add-category btn btn-default">
                +Add category
            </button>

        </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/day-view.js"></script>
</body>

</html>