$dayPrimaryColors: (
	monday: #FFD900,
	tuesday: #29A889,
	wednesday: #DE59A4,
	thursday: #F4ACCC,
	friday: #00CCD6,
	saturday: #F5989D,
	sunday: #7CC576 
) !default;


$daySecondaryColors: (
	monday: #2C5800,
	tuesday: #2C5800,
	wednesday: #2C5800,
	thursday: #2C5800,
	friday: #2C5800,
	saturday: #2C5800,
	sunday: #2C5800 
) !default;


