<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title> FoodPlan UI </title>
    <link rel="stylesheet" href="css/vendor/normalize.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="css/vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="css/vendor/owl-carousel/owl.transitions.css">
    <!-- Pick a date css -->
    <link rel="stylesheet" href="css/vendor/pickadate/classic.css">
    <link rel="stylesheet" href="css/vendor/pickadate/classic.date.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="css/week-layout.css">
</head>

<body ng-app="foodplan">

    <header class="fp-header">
        <a href="#" class="fp-logo">
            <img src="img/foodplan-logo.png" class="fp-logo__img" />
        </a>

        <input type="image" src="img/menu-icon.png" class="fp-menu" />
        <!--
		<nav class="site-navigation">
			<ul>
				<li class="site-navigation__item"><a href="#"> Home </a></li>
				<li class="site-navigation__item"><a href="#"> About </a></li>
				<li class="site-navigation__item"><a href="#"> Recipes </a></li>
				<li class="site-navigation__item"><a href="#"> Contact </a></li>
			</ul>
		</nav>
		-->
    </header>


    <button class="week-menu" ng-controller="WeekMenuController" ng-click="changeWeek()">
        
        <svg class="week-menu__icon">
            <use xlink:href="./img/calendar-icon.svg#calendar-svg"></use>
        </svg>
        <h1 class="week-menu__week"> 
            Week 27 
         </h1>
        <span class="week-menu__dates"> (10 Sep - 17 Sep)</span>
    </button>

    <!-- Used by pickadate.js -->
    <input type="text" id="week-menu__datepicker"/>



    <div class="week-navigation" ng-controller="WeekController">
        <button class="week-navigation__previous-day glyphicon glyphicon-chevron-left"></button>
        <button class="week-navigation__next-day glyphicon glyphicon-chevron-right"></button>
        
        <div class="days-carousel owl-carousel">
            <div ng-repeat="day in week.days" class="day-navigation">
                <div class="day-navigation__header">
                    <div class="day-navigation__day-title">
                        {{day.name}}
                    </div>
                </div>

                <div class="day-navigation__category" ng-repeat="category in day.categories">
                    <div class="day-navigation__category-header">
                        <button class="day-navigation__edit-category glyphicon glyphicon-edit" ng-click="show('edit category')"></button>
                    </div>
                    <div class="day-navigation__category-title">{{category.name}}</div>
                    <div class="day-navigation__item" ng-repeat="item in category.items" ng-click="show('edit item')">
                        {{item}}
                    </div>
                    
                    <div class="day-navigation__add-new-item">  
                        <hr class="day-navigation__new-item-line" />
                        <span class="day-navigation__new-item-icon glyphicon glyphicon-plus-sign" ng-click="show('add new item')"></span>
                    </div>
                    
                </div>
            </div>
        </div>


    </div>


    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/jquery2.min.js"></script>
    <!-- Owl carousel library -->
    <script src="js/vendor/owl.carousel.js"></script>
    <!-- Pick a date library -->
    <script src="js/vendor/pickadate/picker.js"></script>
    <script src="js/vendor/pickadate/picker.date.js"></script>

    <script src="js/model.js"></script>
    <script src="js/app.js"></script>
</body>

</html>